---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { CollectionEntry, getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (
  await getCollection(
    'blog',
    ({ data }: CollectionEntry<'blog'>) => data.pubDate <= new Date()
  )
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Blog - Build Modern Websites with Astro">
  <section>
    <h1 class="text-center text-4xl my-20 font-bold text-purple-100">
      Astro Articles <span class="font-normal opacity-90">
        by James Q Quick</span
      >
    </h1>

    <ul class="grid grid-cols-1 lg:gap-y-8 gap-y-6 mx-auto mb-40">
      {
        posts.map((post) => (
          <li class="">
            <a
              href={`/blog/${post.slug}/`}
              class="text-2xl block hover:-translate-y-1 transition-transform border border-gray-100 rounded-lg"
            >
              <div class=" py-8 px-4 rounded-xl">
                <FormattedDate date={post.data.pubDate} />
                <h2 class="text-4xl">{post.data.title}</h2>
                <p class="text-lg opacity-90">{post.data.description}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- 
    <div class="bg-violet-900 bg-opacity-60">
      <div class="rounded-lg">
        <Newsletter heading="Stay Up To Date" buttonText="Get Updates!" />
      </div>
    </div>
  </section> -->
  </section>
</BaseLayout>
