---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { CollectionEntry, getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Icon from 'astro-icon';
import TaughtBy from '../../components/TaughtBy.astro';

const posts = (
  await getCollection(
    'blog',
    ({ data }: CollectionEntry<'blog'>) => data.pubDate <= new Date()
  )
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Blog - Build Modern Websites with Astro">
  <section>
    <div class="text-white flex justify-center my-16">
      <TaughtBy />
    </div>
    <ul class="grid grid-cols-1 lg:grid-cols-2 lg:gap-8 gap-6 pb-20">
      {
        posts.map((post) => (
          <li class="bg-blue-950 py-8 px-6 rounded-xl z-10 border border-1 border-blue-100">
            <div class="text-right opacity-80 mb-2">
              <FormattedDate date={post.data.pubDate} />
            </div>
            <h2 class="text-3xl md:text-4xl text-white font-bold mb-2 overflow-hidden line-clamp-2">
              {post.data.title}
            </h2>
            <p class="text-lg opacity-70 mb-6 text-white overflow-hidden line-clamp-2">
              {post.data.description}
            </p>

            <a
              href={`/blog/${post.slug}/`}
              class="text-lg text-right block text-blue-400 font-bold hover:-translate-y-1 transition-transform "
            >
              Read More <Icon name="mdi:arrow-right" class="inline h-6" />
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
