---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Heading2 from '../../components/Heading2.astro';
import GradientWrapper from '../../components/GradientWrapper.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout>
  <section>
    <h1
      class="text-center text-4xl md:text-6xl my-20 font-bold text-purple-500"
    >
      Recent Posts
    </h1>
    <ul class="grid grid-cols-1 lg:gap-y-8 gap-y-6 max-w-2xl mx-auto">
      {
        posts.map((post) => (
          <li>
            <a
              href={`/blog/${post.slug}/`}
              class="text-2xl block hover:-translate-y-1 transition-transform"
            >
              <GradientWrapper className="rounded-2xl ">
                <div class="bg-gray-900 py-8 px-4 rounded-xl">
                  <FormattedDate date={post.data.pubDate} />
                  <h2 class="text-4xl">{post.data.title}</h2>
                </div>
              </GradientWrapper>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
