---
import BaseHead from '../components/BaseHead.astro';
import Hero from '../components/Hero.astro';
import Instructor from '../components/Instructor.astro';

import WhatYouBuild from '../components/WhatYouBuild.astro';
import WhoItsFor from '../components/WhoItsFor.astro';
import FAQSection from '../components/FAQSection.astro';
import Newsletter from '../components/Newsletter.svelte';
import Pricing from '../components/Pricing.astro';
import Navbar from '../components/Navbar.astro';
import Overview from '../components/Overview.astro';
import NewsletterSection from '../components/NewsletterSection.astro';

export const prerender = true;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body>
    <main>
      <Navbar />
      <Hero />
      <Overview />
      <WhatYouBuild />
      <Instructor />
      <WhoItsFor />
      <NewsletterSection />
      <FAQSection />
      <!-- <Pricing /> -->
      <!-- <Footer /> -->
    </main>
  </body>
</html>
