---
import BaseHead from '../components/BaseHead.astro';
import Hero from '../components/Hero.astro';
import Instructor from '../components/Instructor.astro';
import KeyTakeaways from '../components/KeyTakeaways.astro';
import WhatYouBuild from '../components/WhatYouBuild.astro';
import WhoItsFor from '../components/WhoItsFor.astro';
import FAQ from '../components/FAQ.astro';
import Newsletter from '../components/Newsletter.svelte';

export const prerender = true;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body>
    <main>
      <Hero />
      <KeyTakeaways />
      <WhatYouBuild />
      <WhoItsFor />
      <Instructor />
      <Newsletter client:load />
      <FAQ />
      <!-- <Footer /> -->
    </main>
  </body>
</html>
