<div>
  <div class="h-64 w-64 border-[1px] border-gray-100 rounded-lg"></div>
  <div
    class="h-64 w-64 border-[1px] border-gray-100 rounded-lg -translate-y-8 ml-10"
  >
  </div>
  <div
    class="h-64 w-64 border-[1px] border-gray-100 rounded-lg -translate-y-32 ml-40"
  >
  </div>
</div>
