<div class="w-10 bg-blue-950 h-[144px] absolute right-0"></div>
<div
  class={`rounded-full w-24 h-[24px] bg-blue-950 top-0 -right-[0] absolute `}
>
</div>
<div
  class={`rounded-full w-32 h-[16px] bg-white top-[24px] right-[20px] absolute `}
>
</div>
<div
  class={`rounded-full w-32 h-[24px] bg-blue-950 top-[40px] -right-[0] absolute `}
>
</div>
<div
  class={`rounded-full w-20 h-[16px] bg-white top-[64px] right-[10px] absolute `}
>
</div>
<div
  class={`rounded-full w-20 h-[24px] bg-blue-950 top-[80px] right-[16px] absolute `}
>
</div>
<div
  class={`rounded-full w-20 h-[16px] bg-white top-[104px] right-[20px] absolute `}
>
</div>
<div
  class={`rounded-full w-12 h-[24px] bg-blue-950 top-[120px] right-[10px] absolute `}
>
</div>
