---
import GradientWrapper from './GradientWrapper.astro';
import Heading2 from './Heading2.astro';

// Is this course right for ME?
// - What is your refund policy?
// - Is there parity pricing available?
// - Does this cover the LATEST versions of XYZ framework?
//Purchase power parity
//Support
---

<div class="bg-cover bg-[url('/X-Pattern-Blue.svg')] px-4 md:px-10 py-20">
  <div class="max-w-6xl mx-auto">
    <Heading2
      text="Quick Questions (FAQ)"
      className="text-white mb-10 md:mb-20 text-center"
    />

    <div class="flex gap-y-4">
      <GradientWrapper className="rounded-md md:rounded-full">
        <div class="rounded-md md:rounded-full px-4 md:px-20 py-8 bg-blue-950">
          <p class="text-2xl lg:text-4xl font-bold text-purple-500 mb-2">
            This is a question?
          </p>
          <p class="text-white text-lg md:text-xl md:ml-10">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod ipsum dolor sit amet, consectetuer adipiscing
            elit, sed diam nonummy nibh euismod tincidunt ut
          </p>
        </div>
      </GradientWrapper>
    </div>
  </div>
</div>
