---
import { updateTSConfigForFramework } from 'astro/dist/core/config';
import FAQ from './FAQ.svelte';
import type { faq } from '../utils/types';
import Section from './Section.astro';
import astroIcon from '../images/astroIcon.svg';

const faqs: faq[] = [
  {
    question: 'Is this course right for me?',
    answer:
      'This course is made for beginner to intermediate JavaScript developers. The expectation is that you have basic knowledge of JavaScript and HTML/CSS. Framework experience is encouraged but not required.',
  },
  {
    question: 'What is your refund policy?',
    answer:
      'We offer a 30-day money-back guarantee. If you are not satisfied with the course, you can request a refund within 30 days of purchase.',
  },
  {
    question: 'Is there parity pricing available?',
    answer:
      'Yes! We offer parity pricing. If the cost of this course is prohibitive in your country, please contact me for more information.',
  },
  {
    question: 'Is there a student discount?',
    answer:
      'Yes! We offer a 50% discount for students. Please send me an email from your university email or a picture of your student id.',
  },
  {
    question: 'What if I need help during the course?',
    answer: `By purchasing this course, you'll have access to a private Discord channel where you can ask questions and get help from the instructor and other students.`,
  },
  {
    question: 'What if I have more questions?',
    answer:
      'If you have any questions that are not answered here, please contact me at me@jamesqquick.com.',
  },
];
const heading = 'Got questions?';
---

<Section id="faq" heading={heading}>
  <div class="max-w-6xl mx-auto relative">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 mb-10 md:mb-20">
      {faqs.map((faq) => <FAQ faq={faq} />)}
    </div>
    <img
      src={astroIcon.src}
      class="w-[80%] max-w-2xl absolute opacity-5 left-[50%] -translate-x-1/2 -top-10"
      alt="Astro Icon"
    />
  </div>
</Section>
