---
import Button from './Button.astro';
import Section from './Section.astro';
const today = new Date();
---

<Section hasBg={true} hasYPadding={false}>
  <div class="py-20">
    <div class="flex content-center flex-col items-center mb-6">
      <p class="text-lg mb-4">What are you waiting for?</p>
      <Button isLink={true} href="#pricing" text="Start learning today!" />
    </div>
    <p class="text-center opacity-80">Copyright. 2023 @jamesqquick</p>
  </div>
</Section>
