---
import Newsletter from './Newsletter.svelte';
import astroIcon from '../images/astroIcon.svg';
import { Icon } from 'astro-icon';
import Boxes from './Boxes.astro';
import TaughtBy from './TaughtBy.astro';
---

<div
  class={` pt-20  p-2  flex flex-col md:items-center text-white md:text-center relative overflow-x-clip`}
>
  <img
    src={astroIcon.src}
    class="w-[80%] max-w-2xl absolute opacity-5 -top-0 invisible md:visible z-0"
    alt="Astro Icon"
  />

  <div class="z-10">
    <!-- <p
      class="underline underline-offset-4 text-xl mb-8 lg:mb-14 font-bold text-gray-300 flex items-center gap-x-2 justify-start md:justify-center"
    >
      <Icon name="ph:clock" class="h-8 w-8" />
      Full Course Coming Summer 2023
    </p> -->
    <h1
      class="text-5xl md:text-6xl lg:text-8xl max-w-6xl mx-auto font-bold mb-4 md:mb-6 tracking-wider"
    >
      <slot name="heading" />
    </h1>
    <p
      class="tracking-wider max-w-4xl text-xl md:text-2xl font-light italic text-gray-200"
    >
      <slot name="subheading" />
    </p>
  </div>

  <div class="absolute top-0 -right-56 opacity-10">
    <Boxes />
  </div>
  <div class="absolute bottom-0 -left-48 opacity-10">
    <Boxes />
  </div>
</div>
