---
import { Image } from '@astrojs/image/components';
import selfie from '../images/selfie.jpeg';
import GradientWrapper from './GradientWrapper.astro';
import Heading2 from './Heading2.astro';
import { Icon } from 'astro-icon';
---

<section
  id="theInstructor"
  class="px-10 bg-gradient-to-r from-gray-900 to-gray-800 py-20 md:py-40 text-white"
>
  <div class="max-w-6xl mx-auto">
    <Heading2
      text="Hi, I'm "
      className="mb-16 text-center lg:text-left lg:mb-4"
    >
      <span class="text-purple-500">James Q Quick 👋</span>
    </Heading2>

    <div
      class="flex flex-col lg:flex-row justify-between gap-x-10 items-center"
    >
      <div class="grow-1 order-2 lg:order-first">
        <p class="text-xl mb-10 tracking-wider">
          I'm a full-stack developer with a passion for teaching developers, and
          I'm here to help you learn the latest and greatest in Web Development.
        </p>
        <ul class="text-xl md:text-2xl flex flex-col gap-y-4">
          <li>
            <Icon class="h-8 md:h-12 inline text-blue-500" name="mdi:dot" />
            <span class="font-bold text-purple-500">300+ bootcamp students</span
            > taught through Launch Code
          </li>
          <li>
            <Icon class="h-8 md:h-12 inline text-blue-500" name="mdi:dot" />
            <span class="font-bold text-purple-500">10+ years</span> experience of
            teaching developers
          </li>
          <li>
            <Icon class="h-8 md:h-12 inline text-blue-500" name="mdi:dot" />
            <span class="font-bold text-purple-500">200,000+ followers</span> on
            social media
          </li>
        </ul>
      </div>

      <div
        class="flex flex-col items-center gap-y-4 mb-10 lg:mb-0 w-full md:min-w-[400px]"
      >
        <GradientWrapper className="inline-block rounded-full">
          <Image
            class="rounded-full md:h-64 md:w-64 inline-block"
            src={selfie}
            width={400}
            height={400}
            alt="James Q Quick taking a selfie"
          />
        </GradientWrapper>
        <div>
          <a href="https://twitter.com/jamesqquick" class="">
            <Icon
              class="h-12 w-12 inline text-[#1DA1F2] hover:-translate-y-1 transition-transform"
              name="mdi:twitter"
              aria-label="Twitter"
            />
          </a>
          <a href="https://www.youtube.com/c/jamesqquick" class="">
            <Icon
              class="h-12 w-12 inline text-[#FF0000] hover:-translate-y-1 transition-transform"
              name="mdi:youtube"
              aria-label="YouTube"
            />
          </a>
          <a href="https://www.tiktok.com/@jamesqquick " class="">
            <Icon
              class="h-12 w-12 inline text-[#00f2ea] hover:-translate-y-1 transition-transform"
              name="ic:baseline-tiktok"
              aria-label="TikTok"
            />
          </a>
          <a href="https://learnbuildteach.com/" class="">
            <Icon
              class="h-12 w-12 inline text-[#738adb] hover:-translate-y-1 transition-transform"
              name="ic:baseline-discord"
              aria-label="Discord"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
