---
import { Image } from '@astrojs/image/components';
import selfie from '../images/selfie.jpeg';
import GradientWrapper from './GradientWrapper.astro';
import Heading2 from './Heading2.astro';
import { Icon } from 'astro-icon';
import Section from './Section.astro';
---

<section
  id="yourInstructor"
  class="bg-violet-950 bg-opacity-60 pt-60 pb-32 text-white px-8"
>
  <div class="max-w-6xl mx-auto">
    <Heading2
      text="Hi, I'm "
      className="mb-20  text-center lg:text-left lg:mb-4"
    >
      James Q Quick 👋
    </Heading2>

    <div
      class="flex flex-col lg:flex-row justify-between gap-x-10 items-center -my-10 md:-my-4"
    >
      <div class="grow-1 order-2 lg:order-first">
        <p class="text-xl mb-10 tracking-wider">
          I'm a full-stack developer with a passion for teaching developers, and
          I'm here to help you learn the latest and greatest in Web Development.
        </p>
        <ul class="text-xl md:text-2xl flex flex-col gap-y-4">
          <li>
            <Icon class="h-6 inline text-white mr-2" name="ph:check-circle" />
            <span class="font-bold italic">300+</span> bootcamp students through
            Launch Code
          </li>
          <li>
            <Icon class="h-6 inline text-white mr-2" name="ph:check-circle" />

            <span class="font-bold italic">10+ years</span> of teaching developers
          </li>
          <li>
            <Icon class="h-6 inline text-white mr-2" name="ph:check-circle" />
            <span class="font-bold italic">200,000+</span> followers on social media
          </li>
        </ul>
      </div>

      <div
        class="flex flex-col items-center gap-y-4 mb-10 lg:mb-0 w-full md:min-w-[400px]"
      >
        <GradientWrapper className="inline-block rounded-full max-w-sm">
          <Image
            class="rounded-full md:h-80 md:w-80 inline-block"
            src={selfie}
            width={600}
            height={600}
            alt="James Q Quick taking a selfie"
          />
        </GradientWrapper>
        <div class="flex gap-x-4">
          <a href="https://twitter.com/jamesqquick" class="">
            <Icon
              class="h-12 w-12 inline text-[#1DA1F2] hover:-translate-y-1 transition-transform"
              name="mdi:twitter"
              aria-label="Twitter"
            />
          </a>
          <a href="https://www.youtube.com/c/jamesqquick" class="">
            <Icon
              class="h-12 w-12 inline text-[#FF0000] hover:-translate-y-1 transition-transform"
              name="mdi:youtube"
              aria-label="YouTube"
            />
          </a>
          <a href="https://www.tiktok.com/@jamesqquick " class="">
            <Icon
              class="h-12 w-12 inline text-[#00f2ea] hover:-translate-y-1 transition-transform"
              name="ic:baseline-tiktok"
              aria-label="TikTok"
            />
          </a>
          <a href="https://learnbuildteach.com/" class="">
            <Icon
              class="h-12 w-12 inline text-[#738adb] hover:-translate-y-1 transition-transform"
              name="ic:baseline-discord"
              aria-label="Discord"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
