---
import Heading2 from './Heading2.astro';
import Squiggles from './TakeawaySquiggles.astro';
---

<section class="bg-gray-200 pb-10 lg:pb-0">
  <div class="w-full lg:w-[70%] xl:w-[60%] ml-auto">
    <div
      class="bg-blue-950 py-20 lg:p-12 lg:pl-24 px-4 md:px-12 text-white relative self-end mb-16 lg:h-[336px] xl:flex justify-center items-center -translate-y-24 lg:-translate-y-12 mx-2 md:mx-10 lg:mx-0 rounded-lg lg:rounded-none"
    >
      <div class="invisible lg:visible">
        <Squiggles />
      </div>
      <div>
        <Heading2
          className="mb-4 md:mb-10 text-center xs:text-left"
          text="Key Takeaways"
        />
        <ul class="list-disc ml-6 text-xl md:text-2xl leading-loose">
          <li class="md:mb-2">Rendering Strategies (SSR, SSG, etc.)</li>
          <li class="md:mb-2">How to optimize website performance</li>
          <li>How to work with content (Markdown, Headless CMS, etc.)</li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center gap-y-16 lg:gap-y-4 px-10 -translate-y-20 lg:-translate-y-20 max-w-6xl mx-auto"
  >
    <div class={`text-center max-w-lg lg:self-start`}>
      <p class="text-9xl font-bold text-purple-600 relative text-center">4</p>
      <p class="text-2xl text-purple-500 font-bold uppercase">hands-on demos</p>
    </div>
    <div class={`text-center max-w-lg lg:self-center`}>
      <p class="text-9xl font-bold text-purple-600 relative text-center">40+</p>
      <p class="text-2xl text-purple-500 font-bold uppercase">
        in-depth lessons
      </p>
    </div>
    <div class={`text-center max-w-lg lg:self-end`}>
      <p class="text-9xl font-bold text-purple-600 relative text-center">40+</p>
      <p class="text-2xl text-purple-500 font-bold uppercase">
        Hours of video content
      </p>
    </div>
  </div>
</section>
