---
import { Icon } from 'astro-icon';
import NavLink from './NavLink.astro';
import Button from './Button.astro';

export interface Props {
  isSticky?: boolean;
}
const { isSticky = false } = Astro.props;

const links = [
  {
    text: `What You'll Build`,
    href: '/#whatYouBuild',
  },
  {
    text: 'Who Is This For',
    href: '/#whoIsItFor',
  },
  {
    text: 'Your Instructor',
    href: '/#yourInstructor',
  },

  {
    text: 'FAQ',
    href: '/#faq',
  },
];
---

<nav
  class={`px-10 pt-8 flex gap-5 justify-center sm:justify-between items-center bg-transparent`}
>
  <a
    href="/"
    class="text-white font-bold text-2xl hover:text-brand visible"
    aria-label="home page"
  >
    <img
      class="w-12 h-12 lg:w-20 lg:h-20 inline mr-2 mb-1 color-white"
      src="/Astro-Icon.svg"
      alt=""
    />
    Course
  </a>
  <Button
    isLink={true}
    href="#newsletter"
    text="Join the Waitlist"
    className="xl:hidden  hidden sm:block"
  />

  <div id="menu" class="xl:flex hidden items-center justify-center">
    <div
      class="flex flex-row items-center gap-8 text-center text-2xl text-white"
    >
      {links.map((link) => <NavLink href={link.href} text={link.text} />)}

      <Button isLink={true} href="#newsletter" text="Join the Waitlist" />
    </div>
  </div>
</nav>
