---
export interface Props {
  href: string;
  className?: string;
  text: string;
}

const { href, className = '', text } = Astro.props;
---

<a
  href={href}
  class={`text-center text-xl hover:scale-105 transition-all font-bold ${className}`}
  >{text}
</a>
