---
import Newsletter from './Newsletter.svelte';
---

<div
  class="bg-gray-200 px-4 py-20 bg-cover bg-[url('/Envelope-Pattern.svg')]"
  id="newsletter"
>
  <div
    class={`bg-gradient-to-r p-2 from-blue-800 to-purple-800  rounded-3xl max-w-4xl mx-auto`}
  >
    <div class="bg-gray-800 rounded-3xl py-8 px-4 md:px-8 md:py-16">
      <Newsletter
        heading="Don't Miss Out"
        client:visible
        buttonText={'Join the Waitlist!'}
      />
    </div>
  </div>
</div>
