---
import { Icon } from 'astro-icon';
import Heading2 from './Heading2.astro';
---

<section
  class="bg-gray-200 bg-cover bg-[url('/Gradient-Cross-Pattern.svg')] pt-10 pb-40"
  id="overview"
>
  <div class="w-full lg:w-[70%] xl:w-[60%] ml-auto">
    <div
      class="bg-primary py-16 lg:p-12 px-4 md:px-12 text-white relative self-end mb-16 lg:h-[400px] lg:flex justify-center items-center mx-2 md:mx-10 lg:mx-0 rounded-xl lg:rounded-none overflow-hidden lg:overflow-visible"
    >
      <img
        src="/Squiggle.svg"
        class="h-[400px] absolute top-0 right-0 lg:left-[-295px] invisible lg:visible"
        alt="Squiggle"
      />
      <img
        src="/Squiggle-Dark.svg"
        class="h-[300px] absolute top-0 right-0 -z-10 visible lg:invisible"
        alt="Squiggle"
      />
      <div>
        <Heading2
          className="mb-4 md:mb-10 text-center xs:text-left"
          text="Key Takeaways"
        />
        <ul class="ml-6 text-xl md:text-2xl leading-loose">
          <li class="mb-2 md:mb-4">
            <Icon
              class="h-8 w-8 text-green-500 inline -translate-x-4"
              pack="mdi"
              name="check-circle"
            /> Modern Rendering Strategies (SSR, SSG, etc.)
          </li>
          <li class="mb-2 md:mb-4">
            <Icon
              class="h-8 w-8 text-green-500 inline -translate-x-4"
              pack="mdi"
              name="check-circle"
            /> Website Performance and Optimization
          </li>
          <li>
            <Icon
              class="h-8 w-8 text-green-500 inline -translate-x-4"
              pack="mdi"
              name="check-circle"
            /> Working with content (Markdown, Headless CMS, etc.)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center gap-y-24 lg:gap-y-4 px-10 max-w-6xl mx-auto"
  >
    <div class={`text-center max-w-lg lg:self-start`}>
      <p class="text-9xl font-bold text-purple-600 relative text-center">4</p>
      <p class="text-2xl text-gray-8 00 font-bold uppercase">hands-on demos</p>
    </div>
    <div class={`text-center max-w-lg lg:self-center`}>
      <p class="text-9xl font-bold text-purple-600 relative text-center">40+</p>
      <p class="text-2xl text-gray-800 font-bold uppercase">in-depth lessons</p>
    </div>
    <div class={`text-center max-w-lg lg:self-end`}>
      <p class="text-9xl font-bold text-purple-600 relative text-center">10+</p>
      <p class="text-2xl text-gray-800 font-bold uppercase">Hours of video</p>
    </div>
  </div>
</section>
