---
import { Icon } from 'astro-icon';
import Heading2 from './Heading2.astro';
---

<section class="bg-violet-900 bg-opacity-60 py-20" id="overview">
  <div
    class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 justify-between mt-40 items-center gap-y-24 lg:gap-y-4 px-10 max-w-6xl mx-auto text-center"
  >
    <!-- <p>
      <span class="block text-8xl font-bold text-white relative text-center"
        >3</span
      >
      <span class="text-2xl text-gray-100">Hands-on demos</span>
    </p> -->
    <p>
      <span class="block text-8xl font-bold text-white relative text-center"
        >40+</span
      >
      <span class="text-2xl text-gray-100">In-depth lessons</span>
    </p>
    <p>
      <span class="block text-8xl font-bold text-white relative text-center"
        >5+</span
      >
      <span class="text-2xl text-gray-100">Hours of video</span>
    </p>
    <p>
      <span class="block text-8xl font-bold text-white relative text-center"
        >3k+</span
      >
      <span class="text-2xl text-gray-100">Discord users</span>
    </p>
  </div>
</section>
