---
import Section from './Section.astro';
import type { Pricing } from '../types/courses';
import PricingCard from './PricingCard.astro';
import type { CouponsRecord } from '../xata';

export interface Props {
  discount?: number;
  coupon?: string;
}

const { discount, coupon } = Astro.props;

const premiumPricing: Pricing = {
  title: 'Full-stack (Premium Package)',
  subheading: 'Static Site Generation + Server-side Rendering',
  cost: 150,
  bullets: [
    'Automatic Cover Images with Cloudinary',
    'Handling Forms and API Routes',
    'Database Integration Using Xata',
    'Building a Basic Auth Strategy Using Cookies',
    'Everything From the Basic Package',
  ],
  featured: true,
  href: 'https://learn.jamesqquick.com/astro-course',
  coupon,
  discount,
};
const basicPricing: Pricing = {
  title: 'Half-stack (Basic Package)',
  subheading: 'Static Site Generation Only',
  cost: 75,
  bullets: [
    'Astro Components, Integrations, and Islands',
    'Markdown and Content Collections with Zod and TypeScript',
    'Dynamic Routes, Pagination, and SEO',
    'Image Optimization',
    'Deploying to Vercel and Netlify',
  ],
  href: 'https://learn.jamesqquick.com/c0f821a5-6b5d-4668-82fe-4e4684e22d0e',
  coupon,
  discount,
};
---

<Section
  heading="Ready to Start Learning?"
  hasLeftBox={true}
  hasBg={false}
  id="pricing"
  subheading={`Learn everything you need to know about one of the most exciting frameworks in JavaScript!`}
>
  <div
    class="grid grid-cols-1 gap-y-10 lg:grid-cols-[1fr,1fr] justify-stretch items-center ml[10px] max-w-xl lg:max-w-6xl mx-auto"
  >
    <PricingCard pricing={basicPricing} />
    <PricingCard pricing={premiumPricing} />
  </div>
</Section>
