---
import { XATA_API_KEY } from 'astro:env/server';
import { XataClient } from '../xata';

const referrerStr = Astro.request.headers.get('Referer');
let discount;
let coupon;
if (referrerStr) {
  const referrerURL = new URL(referrerStr);
  coupon = referrerURL.searchParams.get('coupon');
  if (coupon) {
    try {
      const xata = new XataClient({
        apiKey: XATA_API_KEY,
      });
      const couponRecord = await xata.db.Coupons.filter({ coupon }).getFirst();
      discount = couponRecord?.discount;
    } catch (error) {
      console.error(error);
    }
  }
}

export interface Props {
  cost: number;
}

const { cost } = Astro.props;

let discountedPrice;

if (discount) {
  discountedPrice = Math.round(cost - (cost * discount) / 100);
}
---

{
  !discount && (
    <p class="text-7xl font-bold text-gray-700 mb-10 text-center">${cost}</p>
  )
}
{
  discount && (
    <>
      <p class="text-7xl font-bold text-gray-700 text-center mb-2">
        <span class=" flex flex-col ">
          <span class="relative text-xl font-light text-gray-400 line-through">
            ${cost}
          </span>
          <span class=" text-7xl text-gray-700 font-bold">
            ${discountedPrice}
          </span>
        </span>
      </p>
      <p class="text-sm mb-10 text-gray-400 text-center">Coupon - {coupon}</p>
    </>
  )
}
