<script src="https://cdn.podia.com/embeds.js" async="async"></script><a
  href="https://learn.jamesqquick.com/test-course"
  data-podia-embed="link">Buy Me!</a
>
<div class="bg-cover bg-[url('/Circuit-Pattern-White.svg')]"></div>
