---
import PricingCard, { Pricing } from './PricingCard.astro';
import Section from './Section.astro';

const premiumPricing: Pricing = {
  title: 'Premium (SSG + SSR)',
  cost: 150,
  bullets: [
    'Server-side Rendering',
    'Automatic Cover Images with Cloudinary',
    'Handling Forms and API Routes',
    'Database Integration Using Xata',
    'Building a Basic Auth Strategy Using Cookies',
    'Everything From the Basic Package',
  ],
  featured: true,
  href: 'https://learn.jamesqquick.com/astro-course',
};
const basicPricing: Pricing = {
  title: 'Basic (SSG Only)',
  cost: 75,
  bullets: [
    'Static Site Generation',
    'Astro Components, Integrations, and Islands',
    'Markdown and Content Collections with Zod and TypeScript',
    'Dynamic Routes, Pagination, and SEO',
    'Image Optimization',
    'Deploying to Vercel and Netlify',
  ],
  href: 'https://learn.jamesqquick.com/c0f821a5-6b5d-4668-82fe-4e4684e22d0e',
};
---

<Section
  heading="Ready to Start Learning?"
  hasLeftBox={true}
  hasBg={false}
  id="pricing"
  subheading={`Learn everything you need to know about one of the most exciting frameworks in JavaScript!`}
>
  <div
    class="grid grid-cols-1 gap-y-10 lg:grid-cols-[1fr,1fr] justify-stretch items-center ml[10px] max-w-xl lg:max-w-4xl mx-auto"
  >
    <PricingCard pricing={basicPricing} />
    <PricingCard pricing={premiumPricing} />
  </div>
</Section>
