<div
  style="top:0px"
  class="rounded-full w-24 h-[48px] bg-blue-950 absolute -left-10"
>
</div>
<div
  style="top:48px"
  class="rounded-full w-24 h-[24px] bg-gray-200 absolute -left-10"
>
</div>
<div
  style="top:72px"
  class="rounded-full w-48 h-[48px] bg-blue-950 absolute -left-40"
>
</div>
<div
  style="top:120px"
  class="rounded-full w-24 h-[24px] bg-gray-200 absolute -left-16"
>
</div>
<div
  style="top:144px"
  class="rounded-full w-40 h-[48px] bg-blue-950 absolute -left-32"
>
</div>
<div
  style="top:192px"
  class="rounded-full w-24 h-[24px] bg-gray-200 absolute -left-16"
>
</div>
<div
  style="top:216px"
  class="rounded-full w-48 h-[48px] bg-blue-950 absolute -left-24"
>
</div>
<div
  style="top:264px"
  class="rounded-full w-20 h-[24px] bg-gray-200 absolute -left-8"
>
</div>
<div
  style="top:288px"
  class="rounded-full w-20 h-[48px] bg-blue-950 absolute -left-8"
>
</div>
