---
import Icon from 'astro-icon';
import ProjectList from './ProjectList.astro';
import Section from './Section.astro';
---

<Section
  heading="What you will"
  headingHighlight="build"
  hasLeftBox={true}
  hasBg={false}
  id="whatYouBuild"
>
  <div class="xl:pl-30 mb-20">
    <ProjectList />
  </div>

  <ul
    class="mx-auto p-8 grid grid-cols-1 gap-y-6 md:grid-cols-2 lg:grid-cols-3 list-disc text-white pl-4 text-xl md:text-2xl mb-8 justify-items-center font-bold"
  >
    <li class="flex items-center gap-x-2">Static Site Generation</li>
    <li class="flex items-center gap-x-2">Server-side Rendering</li>
    <li class="flex items-center gap-x-2">Content Collections</li>
    <li class="flex items-center gap-x-2">Astro Islands</li>
    <li class="flex items-center gap-x-2">Image Optimization</li>
    <li class="flex items-center gap-x-2">Integrations</li>
    <li class="flex items-center gap-x-2">Tailwind CSS</li>
    <li class="flex items-center gap-x-2">TypeScript Types and Zod</li>
    <li class="flex items-center gap-x-2">API Routes/Endpoints</li>
    <li class="flex items-center gap-x-2">Pagination</li>
    <li class="flex items-center gap-x-2">How to Work With Markdown</li>
    <li class="flex items-center gap-x-2">SEO and Meta Tags</li>
    <li class="flex items-center gap-x-2">RSS Feeds</li>
    <li class="flex items-center gap-x-2">Deploying and Hosting</li>
  </ul>
  <!-- <p class="text-white text-center text-lg">
    *For a full list of all topics covered, see below at the video list!
  </p> -->
</Section>
